<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <div class="container">
      <form [formGroup]="loginForm">
        <h1>Login to your account</h1>
        <div class="inputs">
          <div class="input-box">
            <mat-form-field class="example-full-width" appearance="outline">
              <input matInput placeholder="Usename" formControlName="username" required />
            </mat-form-field>
          </div>
          <app-field-error  [error]="loginForm | showError: 'username': 'Username'"></app-field-error>

          <div class="input-box">
            <mat-form-field class="example-full-width" appearance="outline">
              <input (keydown.space)="$event.preventDefault()" matInput placeholder="Password" formControlName="password" required />
            </mat-form-field>
          </div>
          <app-field-error  [error]="loginForm | showError: 'password': 'Password'"></app-field-error>

        </div>
        <div class="buttons">
          <button type="submit" (click)="submit()">Login</button>
        </div>

      </form>
    </div>
  </body>
</html>

