<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Document</title>
</head>

<body>
  <div class="main">
    <div class="main-container">
      <div class="title">
        <img src="assets/images.jpeg" width="50px" />
        <h1>ChatApp</h1>
      </div>
      <mat-icon>menu</mat-icon>
    </div>
    <div class="container">
      <div class="leftside">
        <div class="heading">
          <h1>Messages</h1>
        </div>

        <div class="group">
          <div class="userDetail">
            <mat-icon>person</mat-icon>
            <p>{{ loggedIn.username }}</p>
          </div>
          <div class="groupDetail" (click)="openGroup()">
            <mat-icon>group</mat-icon>
            <p>Add Group</p>
          </div>
        </div>

        <div (click)="flag = !flag">
          <div class="block" [ngClass]="flag ? 'on' : 'off'" *ngFor="let data of groupArr" (click)="show(data)">
            <div class="img">
              <img src="assets/download (1).jpeg" />
              <h4>{{ data.username }}</h4>
            </div>
            <div class="details">
              <mat-icon>radio_button_unchecked</mat-icon>
            </div>
          </div>
        </div>

        <div (click)="flag = !flag">
          <div class="block" [ngClass]="flag ? 'on' : 'off'" *ngFor="let data of user" (click)="show(data)">
            <div class="img">
              <img src="assets/download.png" />
              <h4>{{ data.username }}</h4>
            </div>
            <div class="details">
              <mat-icon>radio_button_unchecked</mat-icon>
            </div>
          </div>
        </div>
      </div>
      <div class="rightside" [ngClass]="{ off: !flag, on: flag }">
        <app-user1 *ngIf="display" (flag)="showChat()" [mydetail]="dataSelected" [Message]="chatData"
          [userDetail]="selectedUser" [room]="currentRoom" (leave_flag)="kkk()"></app-user1>
      </div>
    </div>
  </div>
</body>

</html>
