<div class="main">
  <div class="container">
    <div class="list">
      <div class="details">
        <img src="assets/photo-1500648767791-00dcc994a43e.jpeg" width="40px" />
        <p>{{userDetail?.username}}</p>
      </div>
      <div class="icon">
        <mat-icon>more</mat-icon>
        <mat-icon>search</mat-icon>
        <!-- <button >leave Group</button> -->
      </div>
    </div>

    <div class="text">
      <div class="textspace">
        <input  class="message" placeholder="Write a message" [(ngModel)]="inputMessage" (keyup)="$event.keyCode == 13 && message(msg)"/>
        <div class="send">
          <mat-icon (click)="message(msg)">send</mat-icon>
        </div>
      </div>
    </div>
  </div>
  <div class="mess">
    <div *ngFor="let item of Message">

      <div [ngClass]="item.from == my_Detail?.username  ? 'own-message' : 'other-message' " >
        <div class="chat-item">
          <span><strong>{{item.from}} : </strong></span>

          <app-read-more
              [content]="item.message"
              [limit]="300"
              [completeWords]="true"
              *ngIf="item.message?.length>20"
          ></app-read-more>

          <span *ngIf="item.message?.length<=20">
            {{item.message}}
          </span>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- <div r>
  <div m>

  </div>

  <div a>
    <header></header>
    <footer></footer>
  </div>
</div> -->
